
.Login{
	width: 300px;
	margin: 100px auto;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.Login .login-form-button{
	width: 100%;
}